# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfplan
tfplan
outputs.txt

# Keep the dependency lock file
!.terraform.lock.hcl

# Terraform plan files
*.tfplan

# Sensitive variable files
*.tfvars
*.tfvars.json

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

#Checkov
checkov-after-networking.json
checkov-report.json
